<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ subject }}</title>
</head>
<body>
  <p>Dear {{ firstName }},</p>
  <p>Welcome to our platform! We're excited to have you join us.</p>
  <p>Please click on the link below to get started:</p>
  <a href="{{ url }}">{{ url }}</a>
  <p>If you have any questions or need assistance, feel free to reach out to us.</p>
  <p>Best regards,<br>Ahmed Cherifi</p>
</body>
</html>
