@keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
  
  .spinner {
    background: radial-gradient(farthest-side, #f8a305 94%, transparent) top/10px 10px no-repeat,
      conic-gradient(transparent 30%, #ee971d);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 10px), #000 0);
    animation: rotate 1.5s infinite linear;
  }
  