@keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
  
  .spinner {
    background: radial-gradient(farthest-side, #4f46e5 94%, transparent) top/10px 10px no-repeat,
      conic-gradient(transparent 30%, #4f46e5);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 10px), #000 0);
    animation: rotate 1.5s infinite linear;
  }
  